bin/
tmp/
*.yaml
!example.config.yaml
!docker-compose.yaml
!.github/**/*.yaml
packrd/
*-packr.go
*-gqlgen.go
*_gen.go
**/node_modules/
build/
out/
*.a
*.o
*.o.*
*.d
*.def
*.dll
*.dylib
*.exe
*.exp
*.gcda
*.gcno
*.h.c
*.ilk
*.lib
*.pc
*.pdb
*.so
*.so.*
*.swp
*.ver
*.version
*.metal.air
*.metallib
*.metallib.c
*.ptx
*.ptx.c
*.ptx.gz
*_g

cpp/build
cpp/out
cpp/third-party/dav1d/build 
cpp/third-party/libavif/build 
cpp/third-party/libwebp/build 
cpp/third-party/gifski/target 
cpp/third-party/opencv/build 
cpp/third-party/rav1e/target
cpp/third-party/FFmpeg/src
export/

Dockerfile
