*.avi
*.jpeg
*.jpg
*.webm
*.mp4
*.flv
*.tiff
*.a
*.o
*.o.*
*.d
*.def
*.dll
*.dylib
*.exe
*.exp
*.gcda
*.gcno
*.h.c
*.ilk
*.lib
*.pc
*.pdb
*.so
*.so.*
*.swp
*.ver
*.version
*.metal.air
*.metallib
*.metallib.c
*.ptx
*.ptx.c
*.ptx.gz
*_g
bin/
tmp/
*.yaml
!.circleci/*.yaml
!example.config.yaml
!docker-compose.yaml
!.github/**/*.yaml
packrd/
*-packr.go
*-gqlgen.go
*_gen.go
node_modules/
build/
out/
